body {
  background-image: url('/images/FondoCasino1.webp'); /* Ruta de la imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.mainContent {
  background-color: #b8d5eb;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;  /* Agrega espacio dentro del contenedor */
  border-radius: 20px;  /* Bordes redondeados */
  min-height: 80vh;  /* Aumenta la altura mínima */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Colores llamativos para los títulos */
h2 {
  color: #ff4500; /* Naranja fuerte */
  text-shadow: 2px 2px 5px rgba(255, 69, 0, 0.5);
  font-size: 24px;
}

/* Animación de latido (crecer y decrecer) */
@keyframes latido {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Aplicar animación al botón de WhatsApp */
.whatsapp-button-container {
  animation: latido 1.5s infinite;
}

/* Estilos del botón */
.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.whatsapp-icon {
  margin-right: 10px;
}

button {
  border: none;
  background: none;
  padding: 0;
}

/* Animación para el texto de "MÍNIMO DE CARGA $3000" */
.animated-text {
  font-size: 18px;
  font-weight: bold;
  color: #d32f2f; /* Rojo fuerte */
  animation: latido 1.5s infinite;
}

/* Estilos de las cajas de mensaje */
.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 400px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Caja 1 - Transferencias */
.message1-box {
  background-color: #e3f2fd; /* Azul claro */
  color: #0d47a1;
}

/* Caja 2 - Atención 24h */
.message2-box {
  background-color: #fff3e0; /* Naranja claro */
  color: #e65100;
}

.info-box p {
  display: flex;
  align-items: center;
  margin: 0;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}
